#seriesSearchInput {
    border: 2px solid var(--main-pink);
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    height: 35px;
    width: 300px;
    background-image: url("../resources/searchico.svg");
    background-position: -4px, 5px;
    padding-left: 40px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: auto;
    transition: width .35s ease-in-out;
}

#seriesSearchInput:focus {
    width: 95%;
    transition: width .35s ease-in-out;
}

.small {
    margin: 0px;
    float: right;
    font-size: 70%;
}

table, tr, td {
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 1190px;
    margin: 5px;
}

td {
    padding: 5px;
    border: 1px solid var(--main-pink);
}

.seriesLink {
    float: left;
    width: auto;
}

td:nth-child(2) {
    width: 600px;
    text-align: left;
}
