#seriesSearchInput {
    border: 2px solid var(--main-pink);
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    height: 35px;
    width: 300px;
    background-image: url("../resources/searchico.svg");
    background-position: -4px, 5px;
    padding-left: 40px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: auto;
    transition: width .35s ease-in-out;
}

#seriesSearchInput:focus {
    width: 95%;
    transition: width .35s ease-in-out;
}

.small {
    margin: 0px;
    float: right;
    font-size: 70%;
}

.small:hover {
    text-decoration: underline;
    cursor: pointer;
}

table, tr, td {
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 1190px;
    margin: 5px;
}

td {
    padding: 5px;
    border: 1px solid var(--main-pink);
}

.seriesLink {
    float: left;
    width: auto;
}

td:nth-child(2) {
    width: 600px;
    text-align: left;
}

td:nth-child(1) {
    width: 30px;
}


/*Modal*/

input {
    border: 2px solid black;
    border-radius: 5px;
    height: 25px;
    width: 200px;
}

form {
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 210px;
}

.buttonreg {
    float: left;
}

.subbut {
    float: right;
}

button {
    border-radius: 5px;
    border: 2px solid black;
    height: 30px;
    width: 100px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {}

input[type=text] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.cancelbtn {
    background-color: var(--main-pink);
}

.changebtn {
    background-color: var(--lighter-pink);
}

.cancelbtn:hover, .changebtn:hover {
    border: solid black 1px;
}

.cancelbtn, .changebtn {
    float: left;
    width: 50%;
    align-content: center;
    height: 50px;
}

.container {
    padding: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
    border-radius: 5px;
    background-color: var(--lighter-pink);
    margin: 12.5% auto 15% auto;
    width: 400px;
    overflow: auto;
    font-family: sans-serif;
}

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

.chStatus {
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 5px;
}
