#seriesSearchInput {
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
    height: 25px;
}

#seriesSearchButton {
    border-radius: 5px;
    border: 2px solid black;
    height: 30px;
    margin-bottom: 15px;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    table-layout: fixed;
}

table td {
    width: 390px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchedEntry {
    margin: 0 50px;
}

.seriesSearch {
    margin-bottom: 15px;
}

#seriesSearchInput {
    border: 2px solid var(--main-pink);
    border-radius: 5px;
    margin-right: 5px;
    height: 35px;
    width: 300px;
    background-image: url("../resources/searchico.png");
    background-position: 4px, 4px;
    padding-left: 40px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: auto;
    transition: width .35s ease-in-out;
}

#seriesSearchInput:focus {
    width: 95%;
    transition: width .35s ease-in-out;
}

#seriesSearchButton {
    border-radius: 5px;
    border: 2px solid black;
    height: 30px;
}
