/* Main List */
.content{
	background-color: var(--main-pink);
}

.col {
	width: 550px;
}

#leftside{
	max-height: 530px;
    overflow: auto;
	float:left;
	background-color: #fff;
	display: block;
	border-radius: 0;
}

#rightside{
	max-height: 530px;
    overflow: auto;
	float: right;
	background-color: #fff;
	display: block;
	border-radius: 0;
}
