input {
    border: 2px solid black;
	border-radius: 5px;
	margin-right: 5px;
	height: 25px;
	width: 200px;
	margin-bottom: 15px;
}

form {
	margin-left: auto;
	margin-right: auto;
	width: 210px;
}

.content {
	background-color: var(--lighter-pink);
	width: 400px;
}

button {
	border-radius: 5px;
	border: 2px solid black;
	height: 30px;
	width: 100px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
}
