.popularSeries, .searchedSeries {
	display: block;
    margin: 15px auto 15px auto;
    overflow-x: hidden;
    border-radius: 5px;
	background-color: white;
	width: 1200px;
}

.listHeader{
	display: block;
    overflow: hidden;
	background-color: var(--main-pink);
	text-align: center;
}

.singlePopSeries {
	display: inline-block;
	border: 2px solid var(--main-pink);
	border-radius: 5px;
	overflow: auto;
	width: 575px;
}

.poster {
	height: 300px;
	width: auto;
	margin: 5px;
	float: left;
}

.seriesFont {
	font-size: 30px;
	text-decoration: underline;
	margin: 5px;
	margin-bottom: 20px;
}

.singlePopSeriesWide {
	border: 2px solid var(--main-pink);
	margin: 15px;
	border-radius: 5px;
	overflow: auto;
	width: 1166px;
}

#rightPop {
	float: right;
	margin: 15px 0;
	margin-right: 15px;
}

#leftPop {
	float: left;
	margin: 15px 0;
	margin-left: 15px;
}

.searchedSeriesList table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.searchedEntry {
	margin: 0 120px;
}

.seriesSearch {
	margin-bottom: 15px;
}

#seriesSearchInput {
	border: 2px solid black;
	border-radius: 5px;
	margin-right: 5px;
	height: 25px;
}

#seriesSearchButton {
	border-radius: 5px;
	border: 2px solid black;
	height: 30px;
}

.searchedSeries .listHeader {
	background: #BF006C;
}
