.popularSeries, .searchedSeries {
	display: block;
    margin: 15px auto 15px auto;
    overflow-x: hidden;
    border-radius: 5px;
	background-color: white;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.singlePopSeries {
	display: inline-block;
	border: 2px solid var(--main-pink);
	border-radius: 5px;
	overflow: auto;
	width: 575px;
}

.poster {
	height: 300px;
	width: auto;
	margin: 5px;
	float: left;
}

.seriesFont {
	font-size: 30px;
	text-decoration: underline;
	margin: 5px;
	margin-bottom: 20px;
}

.singlePopSeriesWide {
	border: 2px solid var(--main-pink);
	margin: 15px;
	border-radius: 5px;
	overflow: auto;
	width: 1166px;
}

#rightPop {
	float: right;
	margin: 15px 0;
	margin-right: 15px;
}

#leftPop {
	float: left;
	margin: 15px 0;
	margin-left: 15px;
}

.searchedSeriesList table {
	margin-left: auto;
	margin-right: auto;
	 text-align: left;
}

.searchedEntry {
	margin: 0 120px;
}

.seriesSearch {
	margin-bottom: 15px;
}

#seriesSearchInput {
	border: 2px solid var(--main-pink);
	border-radius: 5px;
	margin-right: 5px;
	height: 35px;
	width:300px;
	background-image:url("../resources/searchico.png") ;
	background-position: 4px,4px;
	padding-left: 40px;
	font-size: 16px;
	background-repeat: no-repeat;
}
#seriesSearchInput:focus{
	width:95%;
	transition: width .35s ease-in-out;
}

#seriesSearchButton {
	border-radius: 5px;
	border: 2px solid black;
	height: 30px;
}
