.wrap{
    max-height: 2000px;
    overflow: scroll;
    height:auto;
    overflow:visible;
}

.poster{
    width:260px;
    float:left;
    margin-top: 17px;
    margin-left: 17px;
}

.plot{
    float:left;
    width:500px;
    height:100%;
    margin-left:15px;
}

.infotable table tr td{

    border-collapse: collapse;
    padding:5px;
    width:165px;
    text-align: left;
}

.infotable table tr {
    border-bottom: solid 1px var(--main-pink);
    border-collapse: collapse;
}

.infotable table{
    border-collapse: collapse;
}

.infotable{
    float:right;
    margin:20px;
    border-collapse: collapse;
    border-radius: 5px;
    width:auto;
}

.infotable table tr .big{
    font-weight: bold;
    text-align: left;
}

#star
{
  height: 20px;
  margin-left: 5px;

}

#rating
{
  margin-left: 5px;
  font-weight: bold;
}

#check
{
  height: 30px;
  width: 160px;
  background-image:url("../resources/check.ico");
  background-size: 25px;
  background-repeat: no-repeat;
  border-style: none;
  background-color: white;
  background-position: 2.5px,2.5px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 5px;
}

#plus
{
  height: 30px;
  width: 220px;
  background-image:url("../resources/plus.ico");
  background-size: 25px;
  background-repeat: no-repeat;
  border-style: none;
  background-color: white;
  background-position: 2.5px,2.5px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 5px;

}
