.wrap {
    max-height: 2000px;
    overflow: scroll;
    height: auto;
    overflow: visible;
}

.poster {
    width: 260px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.plot {
    float: left;
    width: 500px;
    height: 100%;
    margin-left: 15px;
}

.infotable table tr td {
    border-collapse: collapse;
    padding: 5px;
    width: 165px;
    text-align: left;
}

.infotable table tr {
    border-bottom: solid 1px var(--main-pink);
    border-collapse: collapse;
}

.infotable table {
    border-collapse: collapse;
    margin-bottom: 15px;
}

.infotable {
    float: right;
    margin: 20px;
    border-collapse: collapse;
    border-radius: 5px;
    width: auto;
}

.rating {
    clear: left;
    margin-left: 15px;
}

.big {
    font-weight: bold;
    text-align: left;
}

.star {
    height: 20px;
    margin-left: 5px;
    margin-bottom: 15px;
}

#done {
    background-image: url("../resources/done.svg");
}

#add {
    background-image: url("../resources/add.svg");
}

#cancel {
    background-image: url("../resources/cancel.svg");
}

#watching {
    background-image: url("../resources/watching.svg");
}

.statusButton {
    height: 30px;
    width: 220px;
    background-size: 25px;
    background-repeat: no-repeat;
    border-style: none;
    background-color: white;
    background-position: 2.5px, 2.5px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
    text-align: left;
    padding-left: 30px;
}
