.color-mainpink { color: #EF0087 }
.color-mainpink-2 { color: #BF006C }
.color-mainpink-3{ color: #2F1323 }
.color-mainpink-4 { color: #650039 }
.color-mainblack { color: #000000 }

nav ul li{
float:left;
width: 135px;
position: relative;
border-right:1px solid #650039;
font-family: sans-serif;

}
nav ul
{
  background: #EF0087;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  height: 35px;
  list-style-type: none;

}
nav ul li a{
color: #000000;
text-decoration: none;
cursor: auto;
}
