/*Main Colors*/
:root{
	--lighter-pink: #EF0087;
	--main-pink: #BF006C;
	--darker-pink1: #2F1323;
	--darker-pink2: #650039;
	--main-black: #000000;
}

body{
  background-color: var(--main-black);
}

nav ul li{
	float:left;
	width: 135px;
	position: relative;

	border-right: 1px solid #2F1323;
	border-collapse: collapse;
	font-family: sans-serif;
	background: var(--lighter-pink);

}

nav ul{
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	height: 35px;
	list-style-type: none;
}

nav ul li a{
	color: var(--main-black);
	text-decoration: none;
	cursor: auto;
}
